{% load i18n %}

{% load themes %}

{% block pre_login %}

<form id="" class="ng-pristine ng-valid ng-scope"
      method="POST"
      action="{% url 'login' %}"
      autocomplete="off"
      ng-controller="hzLoginController">
  {% csrf_token %}
{% endblock %}

  <div class="panel panel-default">

    <div class="panel-heading">
    {% block login_header %}
      <h3 class="login-title">
        Войти
      </h3>
    {% endblock %}
    </div>
      <style>
        body {
              background-image: url({% themable_asset  "cnii/back4.gif" %});
              background-size: cover;
        }
      </style>

    <div class="panel-body">
    {% block login_body %}
      {% comment %}
        These fake fields are required to prevent Chrome v34+ from autofilling form.
      {% endcomment %}
      {% if HORIZON_CONFIG.password_autocomplete != "on" %}
        <div class="fake_credentials" style="display: none">
          <input type="text" name="fake_email" value="" />
          <input type="password" name="fake_password" value="" />
        </div>
      {%endif%}
      {% include "auth/_description.html" %}
      <fieldset hz-login-finder>
        {% if request.user.is_authenticated and 'next' in request.GET %}
          <div class="form-group clearfix error help-block alert alert-danger">
            <p>
              У вас не хватает прав на доступа к этому содержимому:
            </p>
            <p>
              <strong>
                {{ request.GET.next }}
              </strong>
            </p>
            <p>
              {% url 'horizon:user_home' as home_url %}
                Войдите как другой пользователь или вернитесь <a href="{{ home_url }}">home page</a>
            </p>
          </div>
        {% endif  %}
        {% if request.COOKIES.logout_reason %}
          <div class="form-group clearfix error help-block alert alert-danger" id="logout_reason">
            <p>{{ request.COOKIES.logout_reason }}</p>
          </div>
        {% endif %}
        {% if next %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ next }}" />
        {% endif %}
        {% include "horizon/common/_form_fields.html" %}
      </fieldset>
    {% endblock %}
    </div>

    <div class="panel-footer">
      {% block login_footer %}
        <button id="loginBtn" type="submit" class="btn btn-primary pull-right">
          <span ng-show="auth_type==='credentials'">Войти</span>
          <span ng-hide="auth_type==='credentials'" ng-cloak>Подключиться</span>
        </button>
        <div class="clearfix"></div>
      {% endblock %}
    </div>
  </div>

{% block post_login%}
</form>
{% endblock %}
